@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 25px;
  font-family: sans-serif;

  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.container {
  display: inline-block;
  border: 10px solid rgb(211, 211, 211);
  border-radius: 10px;
  background: rgb(211, 211, 211);
}

#root {
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
